---
import Layout from "../layouts/Layout.astro";
import config from "../config.json";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import { Cloudinary } from "@cloudinary/url-gen";

import galleryImg1 from "../assets/images/gallery/gallery1.jpg";
import galleryImg2 from "../assets/images/gallery/gallery2.jpg";
import galleryImg3 from "../assets/images/gallery/gallery3.jpg";
import galleryImg4 from "../assets/images/gallery/gallery4.jpg";
import galleryImg5 from "../assets/images/gallery/gallery5.jpg";
import galleryImg6 from "../assets/images/gallery/gallery6.jpg";
import galleryImg7 from "../assets/images/gallery/gallery7.jpg";
import galleryImg8 from "../assets/images/gallery/gallery8.jpg";
import galleryImg9 from "../assets/images/gallery/gallery9.jpg";
import galleryImg10 from "../assets/images/gallery/gallery10.jpg";
import galleryImg11 from "../assets/images/gallery/gallery11.jpg";
import galleryImg12 from "../assets/images/gallery/gallery12.jpg";

const galleryImgs = [
  galleryImg1,
  galleryImg2,
  galleryImg3,
  galleryImg4,
  galleryImg5,
  galleryImg6,
  galleryImg7,
  galleryImg8,
  galleryImg9,
  galleryImg10,
  galleryImg11,
  galleryImg12,
];

const cld = new Cloudinary({
  cloud: {
    cloudName: import.meta.env.CLOUDINARY_CLOUD_NAME,
  },
});

const heroVideo = cld.video("dirtee deeds/hero");
const heroVideoURL = heroVideo.toURL();

const services = await getCollection("services");
const serviceImages = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/services/**/*.{jpeg,jpg,png,gif,webp}"
);

const whyChooseUs = [
  {
    name: "Quality Work",
    description:
      "Dirt'ee Deeds takes pride in all of our work, big or small no matter the size of the project we will always complete our work to the highest quality possible and be able to look at a finished project and know no short cuts were taken.",
  },
  {
    name: "Amazing Client Experience",
    description:
      "At Dirt'ee Deeds we always aim for clients to have a seamless and hassle free experience, we do achieve this by addressing all and any concerns and being completely transparent about all processes being executed.",
  },
  {
    name: "Work Place Positivity",
    description:
      "Dirt'ee Deeds strives for all employees to enjoy and be positive about the work they are tasked with therefore being passionate about completing work to high standards.",
  },
  {
    name: "Value For Money",
    description:
      "Dirt'ee Deeds approaches every project with the aim to keep cost as low as possible for the client while maintaining a quality service.",
  },
];

const fields = [
  { name: "firstName", text: "First Name" },
  { name: "lastName", text: "Last Name" },
  { name: "email", text: "Email" },
  { name: "message", text: "Message" },
];
---

<Layout title={config.businessName}>
  <div class="flex flex-col gap-16 pb-16">
    <section class="min-h-screen flex relative">
      <video
        autoplay
        loop
        muted
        playsinline
        class="absolute top-0 left-0 w-full h-full object-cover -z-10"
      >
        <source src={heroVideoURL} type="video/mp4" />
      </video>
      <div class="max-w-screen-xl mx-auto flex w-full px-4">
        <div
          class="flex flex-col justify-center text-white w-full max-w-2xl gap-8"
        >
          <h1 class="text-6xl max-md:text-4xl pt-32 font-bold">
            Providing year-round service to the Wairarapa region for over 20
            years
          </h1>
          <h2 class="text-2xl font-light text-white">
            Precision diggers, dependable trucks, complete earthwork services
          </h2>
          <a href="#contact" class="btn rounded-2xl btn-lg btn-primary w-fit"
            >Contact Us Today</a
          >
        </div>
      </div>
    </section>
    <section>
      <div
        class="max-w-screen-xl mx-auto grid grid-cols-2 max-md:grid-cols-1 place-items-center gap-16 max-md:gap-8 px-4"
      >
        <h1 class="text-7xl max-md:text-4xl font-bold text-primary">
          We move the earth to bring your projects to life, efficiently and
          reliably.
        </h1>
        <div class="flex flex-col gap-8">
          <div class="flex flex-col gap-4">
            <h1 class="text-4xl font-bold text-primary">Mission</h1>
            <p class="font-light text-sm">
              At Dirt'ee Deeds, our mission is to continuously upskill our team
              to enhance the client experience throughout every stage of their
              project. We are dedicated to staying at the forefront of industry
              advancements, embracing innovative techniques, and implementing
              best practices to deliver superior results. Our commitment to
              professional development ensures that we not only meet but exceed
              client expectations, fostering a seamless and rewarding journey
              from start to finish. We believe in building lasting relationships
              through exceptional service, unwavering integrity, and a
              relentless pursuit of excellence in all that we do.
            </p>
          </div>
          <div class="flex flex-col gap-4">
            <h1 class="text-4xl font-bold text-primary">Purpose</h1>
            <p class="font-light text-sm">
              Dirt'ee Deeds is dedicated to meeting and exceeding the needs and
              ideas of our customers in a timely and hassle-free manner. Our
              goal is to provide exceptional service that is responsive,
              efficient, and tailored to each client's unique requirements. We
              are committed to ensuring a smooth and stress-free experience by
              actively listening to our customers, understanding their visions,
              and delivering reliable, high-quality solutions. Our purpose is to
              build trust and satisfaction through our unwavering dedication to
              customer service, attention to detail, and consistent
              communication throughout every project. At Dirt'ee Deeds, your
              needs are our priority, and your ideas are our blueprint for
              success.
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center gap-2 mt-16">
        <div class="carousel h-[500px] max-md:h-96">
          {
            galleryImgs.map((img, index) => (
              <div class="carousel-item">
                <Image
                  src={img}
                  class="object-cover w-full max-md:w-72 h-full"
                  alt={`carousel img ${index}`}
                />
              </div>
            ))
          }
        </div>
        <div
          class="flex items-center justify-center gap-2 max-md:hidden text-xs"
        >
          <p class="italic font-light">scroll using</p>
          <kbd class="kbd kbd-xs">Shift</kbd>
          <p>+</p>
          <Icon name="mdi:mouse" class="text-xs" />
          <p class="italic font-light">or</p>
          <Icon name="mdi:trackpad" class="text-xs" />
        </div>
        <p class="md:hidden italic font-light text-xs">
          scroll right to see more
        </p>
      </div>
    </section>
    <section>
      <div class="max-w-screen-xl mx-auto gap-16 flex flex-col px-4">
        <h1 class="text-6xl text-center">Our Services</h1>
        <div class="flex flex-col gap-16 max-md:gap-8">
          <div class="grid grid-cols-3 max-md:grid-cols-1 gap-8">
            {
              services.slice(3).map((service: any) => (
                <div class="flex flex-col gap-4">
                  <h1 class="text-2xl font-medium overflow-hidden whitespace-nowrap text-ellipsis">
                    {service.data.name}
                  </h1>
                  <Image
                    src={serviceImages[
                      "/src/assets/images/services/" +
                        service.data.featuredImage
                    ]()}
                    alt={service.data.name}
                    class="object-cover w-full aspect-[1/0.7]"
                  />
                  <p class="text-ellipsis">
                    {service.data.description.length > 250
                      ? `${service.data.description.slice(0, 250)}...`
                      : service.data.description}
                  </p>
                  <a
                    href={`/services/${service.slug}`}
                    class="btn btn-primary mt-auto w-fit max-md:w-full self-end"
                  >
                    Check it out
                  </a>
                </div>
              ))
            }
          </div>
          <a href="/services" class="link link-primary text-center text-2xl"
            >See all our services</a
          >
        </div>
      </div>
    </section>
    <section class="flex flex-col gap-16 max-w-screen-xl mx-auto px-4">
      <h1 class="text-6xl text-center">Why Choose Us</h1>
      <div
        class="grid grid-cols-2 max-md:grid-cols-1 gap-16 max-md:gap-8 place-items-center"
      >
        <div class="max-w-2xl mx-auto flex flex-col gap-4">
          {
            whyChooseUs.map((item: any, index: number) => (
              <div class="collapse collapse-arrow bg-base-200">
                <input
                  type="radio"
                  name="my-accordion-1"
                  checked={index == 0 && "true"}
                />
                <div class="collapse-title text-xl font-medium">
                  {item.name}
                </div>
                <div class="collapse-content">
                  <p>{item.description}</p>
                </div>
              </div>
            ))
          }
        </div>
        <Image
          src="https://acropolis-wp-content-uploads.s3.us-west-1.amazonaws.com/Parts-of-an-Excavator-Hero-image.webp"
          alt="image"
          height={800}
          width={800}
          class="w-full h-full object-cover"
        />
      </div>
    </section>
    <section id="contact">
      <div
        class="max-w-screen-lg mx-auto flex flex-col items-center gap-16 max-md:gap-8 px-2"
      >
        <div class="flex flex-col items-center gap-4">
          <h1 class="text-8xl max-md:text-4xl font-extrabold text-center">
            Got a plan?
          </h1>
          <h2 class="text-7xl font-extrabold text-center max-md:text-5xl">
            We'll get the diggers ready
          </h2>
        </div>
        <p class="text-2xl font-light">Contact us today</p>
        <form
          name="contact"
          method="POST"
          data-netlify="true"
          class="py-6 w-full flex flex-col gap-2 text-4xl max-md:text-2xl font-light"
        >
          <div
            class="rounded-2xl border-2 border-primary pt-8 pb-16 px-16 max-md:px-4"
          >
            {
              fields.map((field) => (
                <div class="flex gap-16 items-center border-b-2 border-black py-2">
                  <label
                    for={field.name}
                    class="whitespace-nowrap min-w-32 max-md:min-w-12"
                  >
                    {field.text}
                  </label>
                  {field.name === "message" ? (
                    <textarea
                      required
                      id={field.name}
                      name={field.name}
                      class="bg-transparent form-input px-4 h-96 py-3 w-full rounded focus:outline-none font-extralight"
                    />
                  ) : (
                    <input
                      required
                      autocomplete="on"
                      type="text"
                      id={field.name}
                      name={field.name}
                      class="bg-transparent form-input px-4 py-3 w-full rounded focus:outline-none font-extralight"
                    />
                  )}
                </div>
              ))
            }
          </div>
          <div class="flex text-[#e4ab97] w-full justify-center my-6">
            <input type="submit" value="Submit" class="btn btn-primary" />
          </div>
        </form>
      </div>
    </section>
  </div>
</Layout>
